<mat-toolbar color="primary">
   <mat-toolbar-row>
        <h1>Polly Chat</h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="tabgroup">
  <div><h1>History</h1>
    <h4>click on any older thread to resume there</h4>
  </div>
  <div>older thread 09/06/23 <i class="arrow right"></i></div>
  <div>older thread 09/06/23 <i class="arrow right"></i></div>
  <div>older thread 09/06/23 <i class="arrow right"></i></div>
  <div>older thread 09/06/23 <i class="arrow right"></i></div>
  <div>older thread 09/06/23 <i class="arrow right"></i></div>
  <div>older thread 09/06/23 <i class="arrow right"></i></div>
</div>


